
li {
  list-style-type: none;
}

a.logout-link {
  float: right;
  text-align: right;
}

.login-form {
  padding:2em;
  border: 2px #ccc;
  background-color: #aaa;
  margin-top: 10em;
}

.login-form .col-md-4 {
  margin-top: 4em;
}

h1.app-title {
  text-align:center;
  font-size: 1.5;
}

.search-input {
  padding: 2em;
  border:1px #ccc;
}

.search-account {
  padding: 3em;
}

.edit-account-link a {

  color: black;
  display: block;

}

.edit-account {

  border: 1px solid #ccc;
  padding: 2em;

}
