
<div class="container">
  <div class="menu">
    <header class="row navbar application-header" role="banner">                      
                                                                  
      <h1 class="app-title">Anypay Super User Admin</h1>
      {{#if session.isAuthenticated}}
        {{#link-to "dashboard"}}Dashboard{{/link-to}}
        {{#link-to "logout" class="logout-link"}}Logout{{/link-to}}
      {{else}}
        {{#link-to "login"}}Login{{/link-to}}
      {{/if}}
    </header>
  </div>

  <div class="main">

    <div class="container-fluid">

      {{outlet}}

    </div>
  </div>
  
</div>

