{{outlet}}

<div class='container'>

  <div class='row'>

    <ul>

      <li>{{#link-to "accounts"}}Accounts{{/link-to }}</li>
      <li>{{#link-to "invoices"}}Invoices{{/link-to }}</li>
      <li>{{#link-to "forwards"}}Payment Forwards{{/link-to }}</li>

    </ul>
  </div>
</div>
